// Specific CSS for your home-page
body, html {
  margin: 0;
  padding: 0;
}
.video-container {
  display: flex;
  justify-content: center;
  .header {
    color: white;
    text-align: center;
    h1{
      font-family: "Dancing Script";
      font-size: 5rem;
    }
  }
}

video {
  position: fixed;
  top: 0;
  z-index: -1;
}
