<%= render "shared/navbar_black" %>
<div class="container mt-4">
  <div class="row">
    <div class="col-8 m-auto">
      <div class="flat-form">
        <h1>Add a new Booking</h1>
        <div class="mt-3">
          <%= render "form", booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
