<div>
<h1>FlyMe</h1>
<%# <p>Find me in app/views/pages/home.html.erb</p> %>
<%# <img src="/app/assets/images/FlyMe.jpg" alt="private jet" width="500" height="600"> %>
<%= image_tag "FlyMe.jpg", alt: "private jet", class: "w-100" %>

</div>
